<!DOCTYPE html>
<html>
<head>
    <title>Sample Kendo UI AngularJS Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    	<link href="@Url.Content("~/Content/kendo/2020.3.1021/kendo.bootstrap-v4.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
	<script src="@Url.Content("~/Scripts/kendo/2020.3.1021/jquery.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2020.3.1021/angular.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2020.3.1021/jszip.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2020.3.1021/kendo.all.min.js")"></script>
	<script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
</head>
<body ng-app="app" ng-controller="AppController as app">
    @RenderBody()
</body>
</html>
